table.tablesorter {
    width: 100%;
    text-align: left;
    font-family: arial;
    font-size: 9pt;
    background-color: #CDCDCD;
    border: 1px solid #D0D0D0;
    color: #002166;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}

table.tablesorter thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: green;
    color: white;
}

